#form {
  background-image: url('../../assets/imgs/activity.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 73vh;
  width: 100%;
}

.form--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.form--field {
  width: 33%;
  padding: 25px;
  display: flex;
  align-items: center;
}

.form--field input,
.form--field select,
.form--field button {
  padding: 4px;
  margin-left: 5px;
  background-color: rgb(127, 161, 255);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  cursor: pointer;
  align-self: center;
}

.form--field span {
  margin-left: 15px;
}

.form--field label,
.form--field span,
.form--field__country-list span {
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  color: black;
  text-shadow: 2px 1px 4px rgba(13, 20, 37, 0.8);
  cursor: default;
}

.form--field__country-list {
  margin: 15px;
}

.form--field__options {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.form--field__options button {
  padding: 10px;
  align-self: center;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  margin-left: 20px;
}

.form--field__options span {
  padding: 8px;
  align-self: center;
  font-weight: 500;
  margin-left: 20px;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(255, 65, 65);
  box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
  border: 1px solid black;
  border-radius: 5px;
}

.form--field__country-list span {
  margin-left: 25px;
}

.country-list--container {
  height: 30vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 15px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  overflow-x: auto;
}

.country-list--container div {
  margin-left: 15px;
  position: relative;
  height: 100%;
  width: fit-content;
  border: 1px solid black;
}

.country-list--container div img {
  height: 100%;
}

.country-list--container div button{
  position: absolute;
  right: -7px;
  top: -7px;
  background-color: rgb(127, 161, 255);
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 7px;
  border-radius: 2px;
  cursor: pointer;
}

.form--field input:hover,
.form--field select:hover,
.form--field button:hover,
.country-list--container div button:hover,
.form--field__options button:hover{
  background-color: rgb(98, 139, 253);
}