.home--main {
  width: 100%;
  background-image: url('../../assets/imgs/home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  padding: 20px;
}

.home--header {
  color: black;
}

.home--header__links {
  background-color: red;
}