.country-card__link {
  height: 45vh;
  width: 30vw;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 40px;
  background-color:rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}

.country-card--img {
  width: 50%;
  height: 50%;
  opacity: 0.85;
  padding-bottom: 5px;
}

.country-card--text {
  overflow: hidden;
  max-height: 10vh;
  text-align: center;
  align-self: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: rgb(140, 140, 140);
  text-shadow: 2px 5px 4px rgba(0,0,0,0.80);
}

.country-card--text__name {
  font-size: 50px;
  font-weight: 700;
}

.country-card--text__continent {
  font-size: 15px;
  font-weight: 700;
}