.landing__background {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/imgs/landing.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__button {
  width: fit-content;
  height: fit-content;
  padding: 3rem;
  background-color: transparent;
  cursor: pointer;
}