.header {
  width: 100%;
  height: 27vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: black;
  border-bottom: 3px solid black;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.80);
}


.header--middle h1 {
  text-align: center;
  cursor: default;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
}

.header--link {
  margin-left: 20px;
  margin-right: 20px;
  padding: 25px;
  box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
  border-radius: 10px;
  cursor: pointer;
}

.header--link span {
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.80);
}

/* -------Colors by props------- */

.header--blue {background: radial-gradient(circle farthest-corner at bottom center, #0077ff 0%, rgb(0, 42, 61) 80%);}
.header--orange {background: radial-gradient(circle farthest-corner at bottom center, #ff9900 0%, rgb(61, 42, 0) 80%);}

.header--link__blue{
  background-color: rgba(37, 79, 128, 0.808);
  color: rgb(135, 170, 216);
}

.header--link__orange{
  background-color: rgba(128, 81, 37, 0.808);
  color: rgb(189, 160, 80);
}

.header--link__blue:hover{
  background-color: rgba(28, 58, 94, 0.808);
  color: rgb(112, 141, 179);
}

.header--link__orange:hover{
  background-color: rgba(88, 56, 25, 0.808);
  color: rgb(151, 128, 64);
}